*
{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Lato', sans-serif;
color: #fff
}

body
{
    background-color: rgb(16, 29, 53);
    padding-left: 50px;
    padding-right: 50px;
}

.imglogo img
{
    width: 300px;
    margin: 7px;
    height: 55px;
}

header
{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 0px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header ul 
{
    position: relative;
    display: flex;
}
header ul li 
{
    position: relative;
    list-style: none;
    padding: 15px;
}
header ul li a 
{
    position: relative;
    display: inline-block;
    margin: 0 20px;
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    padding: 0px 6px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

header ul li a:hover
{
    color: #24b9f2;
}

.headersdg
{
    margin-top: 3rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.headertitle
{
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 48px;
    line-height: 57px;
    text-shadow: 0 8px 24px rgb(26 201 218 / 56%);
    background: -webkit-linear-gradient(#24b9f2,#58f0f0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.sdgcontainer
{
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 10rem;
    align-items: center;
    flex-direction: column;
    display: flex;
    justify-content: center;
}

.sdgbahasa 
{
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
    justify-content: center;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.sdgbahasapi
{
    padding-right: 1.5rem;
    padding-left: 1rem;
    
}

.sdgbahasaindo {
    padding-right: 1.5rem;
    padding-left: 1rem;
}

.sdgbahasaint
{
    color: #fff;
    transition: all .2s;
    text-decoration: none;
}

.sdgbahasaingg
{
    padding-left: 1rem;
    padding-right: 1rem;
}

.sdgbahasaent 
{
    font-weight: 700;
    color: #4bc8f5;
    border-bottom: 2px solid rgba(75,200,245,.5);
    text-shadow: 0 0.5rem 1rem #4bc8f5;
    text-decoration: none;
}

.sdgisi
{
    box-sizing: border-box;
    text-align: center;
    margin-right: 145px;
    margin-left: 145px;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 6rem;
}

.sdgjudul 
{
    font-weight: 600;
    margin-bottom: 3rem;
    font-size: 1.75rem;
}

.sdgtext
{
    color: hsla(0,0%,100%,.7);
    line-height: 1.94rem;
    padding-left: 9%;
    padding-right: 9%;
    max-width: 100%;
    text-align: left;
    margin-bottom: 1rem;
    
}

.sdgtext strong
{
    color: hsla(0,0%,100%,.7);
}

.sdgregulasi
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
    margin-top: 4rem;
}

.sdgregulasi h3
{
    font-size: 1.75rem;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2
}

.sdgregulasitext
{
    color: hsla(0,0%,100%,.7);
    line-height: 1.94rem;
    max-width: 75%;
    padding-left: 9%;
    padding-right: 9%;
    text-align: center;
}

.adgglow
{
    background: linear-gradient(100.88deg,#24b9f2 33.29%,#58f0f0 109.22%);
    box-shadow: 0 8px 24px rgb(26 201 218 / 44%);
    border-radius: 8px;
    color: #101d35;
    font-weight: 700;
    border: none;
    margin-top: 3rem;
    padding: 0.8rem 1.5rem;
    text-decoration: none;
}

.footer 
{
    margin-top: 100px;
    box-sizing: border-box;
    font-family:  "Lato",sans-serif;
}

.footerrow
{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -5px;
    box-sizing: border-box;
}

.footercol1
{
    flex: 0 0 25%;
    max-width: 25%;
}

.footerlogo
{
    display: flex;
    flex-direction: column;
}

.footerlogo img
{
    width: 30%;
    margin-bottom: 1rem;
}

.textdpr
{
    font-size: 1rem;
    font-weight: 600;
    color: #fff;
}

.almtdpr 
{
    font-size: .8rem;
    opacity: .7;
    color: #fff;
    margin-top: 16px;
}

.footercol2
{
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
}

.footertitle
{
    font-size: 14px;
    text-transform: uppercase;
    color: #4bc8f5;
    margin-bottom: 20px;
}

.footermenu
{
    display: flex;
    flex-direction: column;
    font-size: 12px;
    width: 97%;
}

.footermenulist
{
    margin-bottom: 20px;
}

.footermenulist a 
{
    color: #fff;
    text-decoration: none;
    font-weight: 400;
    font-family:  "Lato",sans-serif;
}

.footercopyr
{
    justify-content: center;
    font-size: 14px;
    opacity: .7;
    padding: 50px 0;
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.footercopyr p
{
    opacity: .7;
    color: #fff;
    font-family:  "Lato",sans-serif;
}

.blue
{
    color: #24b9f2;
}